{% extends 'base_user.html' %}
{% block content %} 


  <!--  Carousel section  -->
  <div class="container mt-4">
  <div
   class="carousel carousel-center w-full p-4 space-x-4 rounded-box"
  >
   <div class="carousel-item w-2/3 lg:w-1/2">
    <div class="card    bg-primary  text-accent-content ">
     <div class="card-body">
      <h2 class="card-title">Card title!</h2>
      <p>If a dog chews shoes whose shoes does he choose?</p>
      <div class="card-actions  justify-end">
       <button class="btn glass text-accent-content">Lihat</button>
      </div>
     </div>
    </div>
   </div>
  </div>
  </div>
  <!--  Carousel section  -->
  <div class="w-full bg-base-300 mt-12 mb-8 px-4 h-[2px] rounded-full"></div>
  <!-- buat blog section -->
  <section id="buat-blog" class="pb-36">
   
  <div class="container">
   <h1 class="text-2xl font-bold mt-2 mb-4 ml-6">BUAT BLOG</h1>
   <div class="w-full h-1 bg-primary rounded-full mb-8"></div>
  <form action="">
   <h1 class="text-xl font-bold mt-4 ml-2">BANNER</h1>
   <input type="file" class="file-input file-input-bordered file-input-primary w-full mt-2" />
   <h1 class="text-xl font-bold mt-4 ml-2">JUDUL</h1>
   <input id="judul" type="text" placeholder="Masukan Judul..." class="input input-bordered input-primary w-full mt-2" />
   <h1 class="text-xl font-bold mt-4 ml-2">DESKRIPSI</h1>
   <textarea class="textarea textarea-primary textarea-lg w-full mt-2 " placeholder="Tulis Deskripsi.."></textarea>
   <button type="submit" class="btn btn-primary mt-2">Upload</button>
  </form>
  </div> 
  </section>
  
  <!-- buat blog section -->
  
  {% endblock %}