{% extends 'base_user.html' %}
{% block content %} 

  <!--  Carousel section  -->
  <div class="container mt-4">
  <div
   class="carousel carousel-center w-full p-4 space-x-4 rounded-box"
  >
   {% if blogs %}
   {% for blog in blogs %}
   <div class="carousel-item w-2/3 lg:w-1/2">
    <div class="card bg-primary w-full text-white">
     <div class="card-body ">
      <h2 class="card-title">{{ blog.judul }}</h2>
      <p>{{ blog.isi|truncatewords:20 }} </p>
      <div class="card-actions  justify-end">
       <a href="{% url 'blog_detail' blog.id %}">
       <button class="btn glass text-accent-content">Lihat</button>
       </a>
      </div>
     </div>
    </div>
   </div>
   {% endfor %}
   {% else %}
    <!-- Pesan jika tidak ada blog -->
    <p>Tidak ada blog yang anda buat.</p>
{% endif %}
  </div>
  </div>
  <!--  Carousel section  -->
  <div class="w-full bg-base-300 mt-12 mb-8 px-4 h-[2px] rounded-full"></div>
  <!-- buat blog section -->
  <section id="buat-blog" class="pb-36">
   
  <div class="container">
   <h1 class="text-2xl font-bold mt-2 mb-4 ml-6">BUAT BLOG</h1>
   <div class="w-full h-1 bg-primary rounded-full mb-8"></div>
  <form action="{% url 'blog' %}" method="POST" enctype="multipart/form-data">
   {% csrf_token %}
   <h1 class="text-xl font-bold mt-4 ml-2">BANNER</h1>
   <img id="previewImage" src="#" alt="Preview" style="display: none; max-width: auto; max-height: 200px;" class=""/>
   {{ form.gambar }}
   <h1 class="text-xl font-bold mt-4 ml-2">JUDUL</h1>
   {{ form.judul }}
   <h1 class="text-xl font-bold mt-4 ml-2">DESKRIPSI</h1>
   {{ form.isi }}
   <h1 class="text-xl font-bold mt-4 ml-2">KATEGORI</h1>
   {{ form.kategori }}
   {{ form.created_by }}
   <input type="submit" class="btn btn-primary mt-2" value="kirim">
  </form>
  </div> 
  </section>
  <script>
  document.getElementById('id_gambar').accept = '.jpg, .png, .jpeg';
    document.getElementById('id_gambar').addEventListener('change', function(e) {
        var file = e.target.files[0];
        var imageType = /image.*/;

        if (file && file.type.match(imageType)) {
            var reader = new FileReader();

            reader.onload = function(e) {
                var preview = document.getElementById('previewImage');
                preview.src = e.target.result;
                preview.style.display = 'block';
            };

            reader.readAsDataURL(file);
        }
    });
</script>
  
  <!-- buat blog section -->
  
  {% endblock %}