{% extends 'base_user.html' %}
{% block content %} 


  <!--  Carousel section  -->
  <div class="container mt-4">
  <div
   class="carousel carousel-center w-full p-4 space-x-4 rounded-box"
  >
   {% if bukus %}
   {% for buku in bukus %}
   <div class="carousel-item w-2/3 lg:w-1/2">
    <div class="card bg-primary  text-accent-content ">
     <div class="card-body">
      <img src="{{ buku.sampul.url }}" alt="" >
      <h2 class="card-title"></h2>
      <p>{{ buku.judul }}</p>
      <div class="card-actions justify-end">
       <a href="">
       <button class="btn glass text-accent-content">Baca</button>
       </a>
      </div>
     </div>
    </div>
   </div>
   {% endfor %}
   {% else %}
   <p>Tidak ada buku yang diupload.</p>
   {% endif %}
  </div>
  </div>
  <!--  Carousel section  -->
  <div class="w-full bg-base-300 mt-12 mb-8 px-4 h-[2px] rounded-full"></div>
  <!-- buat blog section -->
  <section id="buat-blog" class="pb-36">
   
  <div class="container">
   <h1 class="text-2xl font-bold mt-2 mb-4 ml-6">Upload Buku</h1>
   <div class="w-full h-1 bg-primary rounded-full mb-8"></div>
  <form method="POST" action="{% url 'buku' %}" enctype="multipart/form-data">
   {% csrf_token %}
   <h1 class="text-xl font-bold mt-4 ml-2">SAMPUL</h1>
   {{ form.sampul }}
   <h1 class="text-xl font-bold mt-4 ml-2">Link buku</h1>
   {{ form.buku_link }}
   <h1 class="text-xl font-bold mt-4 ml-2">JUDUL</h1>
   {{ form.judul }}
   <h1 class="text-xl font-bold mt-4 ml-2">SINOPSIS</h1>
   {{ form.sinopsis }}
   {{ form.created_by }}
   <button type="submit" class="btn btn-primary mt-2">Upload</button>
  </form>
  </div> 
  </section>
  
  <!-- buat blog section -->
  
  {% endblock %}