{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% compress css %}
  <link href="{% static 'css/output.css' %}" rel="stylesheet" />
  {% endcompress %}
  <link href="{% static 'css/typograph.css' %}" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <script
   src="https://kit.fontawesome.com/f21ac27679.js"
   crossorigin="anonymous"
  ></script>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <link
   href="https://fonts.googleapis.com/css2?family=Arizonia&family=Dancing+Script:wght@400;600;700&family=Gloock&family=Gloria+Hallelujah&family=Great+Vibes&family=Inter:wght@400;500&family=Italianno&family=Montserrat:wght@400;600;700&family=Open+Sans:wght@500;600;700&family=Pinyon+Script&family=Playfair+Display:wght@400;500;600&family=Roboto+Mono&display=swap"
   rel="stylesheet"
  />
  <style>
   /* CSS style for Monokai theme */
   .highlight .hll {
    background-color: #49483e;
   }
   .highlight {
    background: #272822;
   }
   .highlight .c {
    color: #75715e;
    font-style: italic;
   } /* Comment */
   .highlight .err {
    color: #960050;
    background-color: #1e0010;
   } /* Error */
   /* ... (and so on for the rest of the Pygments styles) */
  </style>

  <title>e-Liska</title>
 </head>
 <body class="bg-blue-600">
    {% if messages %}
  {% for message in messages %}
  {% if message.tags == 'success' %}
  <div class=" relative z-20">
   

  <div
   class="alert alert-success absolute top-0 mt-2 successMessage max-w-full"
   style="z-index: 20"
  >
   <svg
    xmlns="http://www.w3.org/2000/svg"
    width="28"
    height="28"
    viewBox="0 0 24 24"
   >
    <path
     d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.25 16.518l-4.5-4.319 1.396-1.435 3.078 2.937 6.105-6.218 1.421 1.409-7.5 7.626z"
    />
   </svg>
   <span>{{ message }}</span>
  </div>

  {% elif message.tags == 'error' %}
  <div class="alert alert-error z-20 top-0 absolute mt-2" id="errorMessage">
   <svg
    clip-rule="evenodd"
    fill-rule="evenodd"
    stroke-linejoin="round"
    width="28"
    height="28"
    stroke-miterlimit="2"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
   >
    <path
     d="m12.002 21.534c5.518 0 9.998-4.48 9.998-9.998s-4.48-9.997-9.998-9.997c-5.517 0-9.997 4.479-9.997 9.997s4.48 9.998 9.997 9.998zm0-8c-.414 0-.75-.336-.75-.75v-5.5c0-.414.336-.75.75-.75s.75.336.75.75v5.5c0 .414-.336.75-.75.75zm-.002 3c-.552 0-1-.448-1-1s.448-1 1-1 1 .448 1 1-.448 1-1 1z"
     fill-rule="nonzero"
    />
   </svg>
   <span>{{ message }}</span>
  </div>
  {% endif %} 
  {% endfor %}
  {% endif %}
<!-- Tambahkan script jQuery -->

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success absolute top-0 mt-2 successMessage">
<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.25 16.518l-4.5-4.319 1.396-1.435 3.078 2.937 6.105-6.218 1.421 1.409-7.5 7.626z"/></svg>
        <span>{{ message|title }}</span>
    </div>
  </div>
  {% endfor %}
{% endif %}
  <header>
   <div class="navbar bg-transparent max-h-4 flex justify-between">
    <div class="navbar-start">
     <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" fill="#ffffff" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><a href="{% url 'home' %}">Homepage</a></li>
        <li><a href="">Chat</a></li>
        <li><a>About</a></li>
      </ul>
    </div>
    </div>

    <div class="navbar-end">
     <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
       <div class="w-10 rounded-full bg-primary">
        {% if photo_profile %}
        <img src="{{ photo_profile.url }}" alt="Profile Picture" />
        {% else %}
        <p>No profile picture available</p>
        {% endif %}
       </div>
      </label>
      <ul
       tabindex="0"
       class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
      >
       <li><h3 class="text-md font-bold">Menu</h3></li>
       <li>
        <a class="justify-between" href="{% url 'profile' %}">
         Profile
         <span class="badge">New</span>
        </a>
       </li>
       <li><a href="{% url 'setting' %}">Settings</a></li>

       <li><button onclick="konfirmasiLogout()">Logout</button></li>

       <li class="flex ml-4 mt-2 mb-2 lg:mt-0 items-center">
        <div class="flex">
         <span class="mr-2 text-sm text-accent-content">Light</span>
         <input type="checkbox" class="hidden" id="dark-toggle" />
         <label for="dark-toggle">
          <div
           class="flex h-5 w-9 cursor-pointer items-center rounded-full bg-dark p-1"
          >
           <div
            class="toggle-circle h-4 w-4 rounded-full bg-white dark:bg-base-200 transition duration-500 ease-in-out"
           ></div>
          </div>
         </label>
         <span class="ml-2 text-sm text-accent-content">Dark</span>
        </div>
       </li>
      </ul>
     </div>
     </div>
    </div>
  </header>
<script>
    // Hapus pesan setelah tampil sekali
    setTimeout(function() {
        $('.successMessage').fadeOut('slow');
    }, 2000); // Menghilangkan pesan setelah 2 detik
  </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>



  <!-- end header section  -->
<section id="hero" class="mt-4">
 <div class="container">
   <h2 class="text-white">Selamat datang di</h2>
   <h1 class="font-medium text-white text-xl -mt-2">Dasboard</h1>
   <h2 class="text-white text-xs pb-4">{{ user.username }}</h2>
 </div>
</section>
  <!-- hero section  -->
<section id="menu" class="bg-blue-50 mt-8 pt-4 rounded-t-[42px] pb-20">
  <div class="w-12 h-1 rounded-full bg-gray-400 mx-auto mt-4"></div>
 <div class="container">
  <div class="w-full">
 <h2 class="ml-3 font-medium mt-4">Menu</h2>
   <div class="grid grid-cols-2 gap-8 px-2 mt-4 pb-12">
     <a href="{% url 'blog' %}">
    <div class="w-34 bg-white backdrop-blur-lg h-38 shadow-lg shadow-gray-400/40
    rounded-2xl overflow-hidden p-1">
      <img src="{% static 'img/blog.png' %}" alt="">
        <h2 class="text-center mt-2 pb-2 ">Blog</h2>
    </div>
     </a>
     <a href="{% url 'buku' %}">
    <div class="w-34 bg-white backdrop-blur-lg h-38 shadow-lg shadow-gray-400/40
    rounded-2xl overflow-hidden p-1">
      <img src="{% static 'img/book.png' %}" alt="">
        <h2 class="text-center pb-2 ">Book</h2>
    </div>
     </a>
     <a href="{% url 'cerita' %}">
    <div class="w-34 bg-white backdrop-blur-lg h-38 shadow-lg shadow-gray-400/40
    rounded-2xl overflow-hidden p-1">
      <img src="{% static 'img/puisi.png' %}" alt="">
        <h2 class="text-center mt-2 pb-2 ">Cerita</h2>
    </div>
     </a>
     <a href="{% url 'berita' %}">
    <div class="w-34 bg-white backdrop-blur-lg h-38 shadow-lg shadow-gray-400/40
    rounded-2xl overflow-hidden p-1">
      <img src="{% static 'img/berita.png' %}" alt="">
        <h2 class="text-center mt-2 pb-2 ">Berita</h2>
    </div>
     </a>

   </div>
  </div>
 </div> 
</section>
  <!-- hero section  -->

  <!--  Carousel section  -->

  <!--  Carousel section  -->
  <script src="{% static 'js/script.js' %}"></script>
  <script>
   function konfirmasiLogout() {
    var konfirmasi = confirm("Apakah Anda yakin ingin logout?");
    if (konfirmasi) {
     window.location.href = "{% url 'logout' %}"; // Redirect ke halaman logout
    } else {
     // Tetap di halaman dashboard
    }
   }
  </script>
 </body>
</html>