{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% compress css %}
  <link href="{% static 'css/output.css' %}" rel="stylesheet" />
  {% endcompress %}
  <link href="{% static 'css/typograph.css' %}" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <script src="https://kit.fontawesome.com/f21ac27679.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
   href="https://fonts.googleapis.com/css2?family=Arizonia&family=Dancing+Script:wght@400;600;700&family=Gloock&family=Gloria+Hallelujah&family=Great+Vibes&family=Inter:wght@400;500&family=Italianno&family=Montserrat:wght@400;600;700&family=Open+Sans:wght@500;600;700&family=Pinyon+Script&family=Playfair+Display:wght@400;500;600&family=Roboto+Mono&display=swap"
   rel="stylesheet"
  />
  <style>
 body * {
  font-family: 'Open Sans', sans-serif;
 }
    </style>


  
  <title>e-Liska</title>
 </head>
<body>
  <a href="javascript:history.back()" class="absolute z-50 top-0 mt-4"><button class="btn btn-primary py-2 px-4 ml-6"><i class="fa-solid fa-arrow-left"></i>Back</button>
 <div class="w-full h-full absolute -z-50 bg-gradient-to-b from-slate-200 to-white mt-16"></div>
 <div class="container mt-14">
  <div class="flex flex-wrap justify-center">
    <div class="w-[160px] h-[160px] absolute z-20">
   <div class="h-12 w-12 rounded-full absolute z-50 bg-primary border-4 border-white bottom-0 right-0 text-center">
    <i class="fa-solid fa-pencil mt-3 text-xl text-white"></i>
   </div>
    </div>
  <div class="profile w-[160px] h-[160px] bg-white rounded-full overflow-hidden border-4 border-white">
   {% if photo_profile %}
   <img src="{{ photo_profile.url }}" alt="photo profile {{ user.first_name }}" height="200" width="200" class="mb-8 object-fill">
   {% else %}
   <p>No Photo Profile</p>
   {% endif %}
  </div>
  <div class="w-full mt-4 text-center">
  <h1 class="text-2xl">{{ user.first_name }} {{ user.last_name }}</h1>
  <div class="max-w-[240px] mx-auto mt-4 text-center">
   <p class="py-2 px-2 bg-purple-300 text-purple-600 rounded-lg text-sm">{{ user.email }}</p>
  </div>
  </div>
  <div class="w-full mt-6 h-[60px] bg-white rounded-lg text-start relative">
   <p class="px-4 ml-2 text-lg mt-4"><span><i class="fa-solid fa-pencil text-primary mr-4 "></i></span>Edit Profile <span class="right-0 absolute mr-6 text-2xl text-slate-400"><i class="fa-solid fa-arrow-right "></i></span></p>
  </div>
  <div class="w-full mt-6 h-[60px] bg-white rounded-lg text-start relative">
   <p class="px-4 ml-2 text-lg mt-4"><span><i class="fa-solid fa-question text-primary mr-4 "></i></span>Bantuan<span class="right-0 absolute mr-6 text-2xl text-slate-400"><i class="fa-solid fa-arrow-right "></i></span></p>
  </div>
  <div class="w-full mt-6 h-[60px] bg-white rounded-lg text-start relative">
   <p class="px-4 ml-2 text-lg mt-4"><span><i class="fa-solid fa-right-from-bracket text-red-600 mr-4 "></i></span>Log out<span class="right-0 absolute mr-6 text-2xl text-slate-400"><i class="fa-solid fa-arrow-right "></i></span></p>

  </div>
  </div>
 </div>
 
</body>
</html>