@tailwind base;
@tailwind components;
@tailwind utilities;


/* per font an */
body {
 font-family: 'Inter', sans-serif;
}
#hero h1 {
 font-family: 'Montserrat', Sans-Serif;
}


.navbar-fixed {
 @apply fixed z-[999] bg-primary bg-opacity-90;
 backdrop-filter: blur(5px);
 }

#mobile-menu {
 display: none;
}

[aria-expanded="true"] + #mobile-menu {
 display: block;
}

#user-menu-button + [aria-labelledby="user-menu-button"] {
 display: none;
}

[aria-expanded="true"]
 + #user-menu-button
 + [aria-labelledby="user-menu-button"] {
 display: block;
}

.blobSvg {
 transform: scale(2); /* Sesuaikan dengan faktor perbesaran yang Anda inginkan */
}



/* dark toggle */
#dark-toggle:checked ~ label div.toggle-circle {
  @apply translate-x-3;
}
